@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* sharead styles here  */
.display-flex{
    display: flex;
}
marquee{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color:rgb(1, 253, 43);
}
.orange-color{
    color:orange;
}
.sky-blue-color{
    color:rgba(1, 172, 253, 1);
}
.halka-nil{
    color: #05D4DF;
}
.nabu-blue{
    color:#5D58EF;
}
/* card related bg-color */
.card1{
    background: linear-gradient(rgb(222, 245,255,100%),rgba(255, 255, 255, 0%));
    
}
.card2{
    background: linear-gradient(rgb(255, 244, 220, 100%),rgb(255, 255, 255, 0%));
}
.card3{
    background:linear-gradient(rgb(238,225,255,100%),rgb(255,255,255,0%)) ;
}
/* our stories card related bg-color  */
.box-bg1{
    background-color: #3CD8E8;
}
.box-bg2{
    background-color: #95B226;
}
.box-bg3{
    background-color: #5D58F0;
}
/* header section styles here  */
/* nav rleated styles here  */
.navber-menu{
    justify-content: space-between;
    align-items: center;
    max-width: 1158px;
    margin: 20px auto;

}
.logo{
    align-items: center;
    gap:17px;
}
.logo>img{
    width:62px;
    height: 62px;
}
.nav-logoname{
    font-size: 2rem;
    line-height: 30px;
    font-weight: bold;
}
.nav-links{
    gap: 30px;
}
nav li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: bold;
}
nav li a{
    text-decoration: none;
     
}
.btn{
    padding:15px 40px;
    background-color: orange;
    border-radius: 12px;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background-color: rgb(165, 110, 8);
}
#menu-icon{
    display: none;
}
.horizental-roll{
    display: none;
    height: 2px ;
    border: none;
    background-color:orange;
}
/* student form kids related styles here  */
.student-form{
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 1158px;
    gap:40px;
}
.student-content{
    max-width: 640px;
    height: 331px;
    margin-bottom: 122px;
    margin-top:122px ;
}
.student-form-title{
    font-size: 3.5rem;
    line-height: 61px;
    font-weight: bold;
    margin-bottom: 24px;
}
.student-form-description{
    font-size:1.25rem ;
    font-weight: 400;

}
.studente-kids-img{
    max-width: 468px;
    height: 575px;
}
.btn-primary{
    padding:15px 30px;
    margin-top: 24px;
    background-color: black;
    color:#FFFFFF;
    font-size: 1.7rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-primary:hover{
    background-color: rgba(56, 51, 51, 0.877);
}
 /* main section start here  */
 .standard-container{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    text-align: center;
   
}
 .standard-heading{
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: bold;
 }
 .standard-content{
    margin: 0px auto;
    max-width: 1158px;
    justify-content: center;
    align-items: center;
    gap:28px;
    margin-top: 80px;
    background-color: #FFFFFF;
    text-align: center;
    
 }
 .standard-card{
    max-width: 367px;
    height: 476px;
    align-items: center;
    justify-content: center;
    padding: 52px 40px;
    border-radius: 18px;
    box-shadow: 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
    
}
.card-img{
    max-width: 136px;
    height: 136px;
    margin-bottom: 32px;
}
.standar-card-title{
    font-size: 1.25rem;
    margin-bottom: 32px;
    font-weight: bold;
    line-height: 32px;
}
.standard-description{
    color:#808080;
    line-height: 28px;
    font-size: 1rem;
}
.read-more{
    margin-top: 32px;
    font-size: 1rem;
    font-weight: bold;
}
.read-more>a{
    text-decoration: none;
}
    
.icon{
    width:80px;
    height:80px;
    background-color: orange;
    color: #FFFFFF;
    border-radius: 100%;
    margin-top: 80px;
    border: none;
   
}
/* our stories related section styles here  */
.ourstories-container{
    width: 100%;
    background-image:url(../assets/bg.png) ,linear-gradient(0deg,rgba(254, 161, 1, 0.397),rgb(255,255,255,100%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourstories-title{
    text-align: center;
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: bold;
}
.ourstories-content{
    display: grid;
    grid-template-areas:

     'item-1   item-1   item-2   item-3'
     'item-1   item-1   item-4   item-5'
     ;
    gap:10px;
    margin: 70px auto;
    max-width: 1160px;  
   
}
.ourstories-card{
    background-color: #FFFFFF;
    border-radius: 16px;
    max-width:540px;
    max-height: 630px;
}
.stories-image{
    width:100%;
    border-radius: 16px 16px 0px 0px;   
}
.storie-item-1{
    grid-area: item-1;
}
.storie-item-2{
    grid-area: item-2;
}
.storie-item-3{
    grid-area: item-3;
}
.storie-item-4{
    grid-area: item-4;
}
.storie-item-5{
    grid-area: item-5;
}
.box-image{
    position: relative;
}
.box-image button{
    position: absolute;
    top: calc(100% - 30px);
    width:174px;
    height: 47px;
    border-radius:47px ;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color:#FFFFFF;
    left: 3rem;
}
.stories-title{
    margin:58px 38px ;
    font-size: 1.5rem;
    font-weight: bold;
}
.stories-descp{
    width:433px;
    height: 75px;
    margin-left:38px ;
    margin-bottom: 34px;
    margin-right: 68px;
    font-size: 1rem;
    color:#666666;
}
.common-title{
    font-size: 1rem;
    margin: 38px 28px 24px 28px;
    font-weight: bold;
    line-height: 28px;
}
.button{
    text-align: center;
}
.button button{
    padding:15px 40px;
    background-color: black;
    color:#FFFFFF;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 80px;
    margin-top: 50px;
}
.button button:hover{
    background-color: #808080;
}
/* footer section start here  */
#footer{
    max-width:100%;
    background-color: #01ACFD;
    margin-top: 0px;
    display: flex;
}
.footer-container{
   width:1070px;
   justify-content:space-between;
   margin: 120px auto;
   
}
.footer-img{
    align-items: center;
    max-width:299px;
    height: 81px;
    gap:10px;
}
.footer-img>img{
   max-width:82px;
   height: 82px;
}
.footer-image-title{
   font-size:2.5rem ;
   line-height: 39px;
   color:#FFFFFF;
   font-weight: bold;
}
.footer-img-description{
    max-width: 399px;
    height: 100px;
    margin-top: 35px;
    font-size: 1.25rem;
    color:#FFFFFF;
}
.about-title{
   color: #FFFFFF;
   font-size: 1.5rem;
   font-weight: bold;
}
.anchor-tag{
    flex-direction: column;
    gap:10px;
    margin-top: 32px;
}
.anchor-tag>a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.touch-title{
   
    font-size: 1.9rem;
    line-height: 26px;
    font-weight: bold;
    color: #FFFFFF;
}
.keep-icon{
    margin-top: 30px;
}
/* footer section ends  */
/* small screen media query */
@media screen and (max-width:576px){
    #menu-icon{
        display: block;
    }
    .hidden{
        display: none;
    }
    .navber-menu{
        margin: 20px;
    }
    .horizental-roll{
        display: block;
    }
    .student-form{
        flex-direction: column-reverse;
    }
    .student-content{
        text-align: center;
      
    }
    .student-form-title{
        font-size: 2rem;
        line-height: 45px;
    }
    .studente-kids-img{
        width:100%;
        
    }
    .standard-content{
        flex-direction: column;
        margin: 20px; 
    }
    .standard-heading{
        font-size: 1.7rem;
        
    }

    .stories-image{
        width:100%;
    }
    .ourstories-content{
         grid-template-areas: 
         'item-2   item-3'
         'item-4   item-5'
         ;
        gap:10px;
        margin: 10px;
        
       
    }
    #none{
        display: none;
        
    }

    .footer-container{
        flex-direction: column;
        gap:10px;
    }
    
    
}
/* media query ends  */